<br>
<div class="mask d-flex h-100">
  <div class="container-fluid">
    <div class="row justify-content-center">     
      <div class="col-12 col-md-10 col-lg-7 col-xl-11">
        <div class="card mask-custom">
          <div class="card-body p-4 text-black">
            <div class="my-4">
              <h2 class="text-center">
                <i class="bi bi-stopwatch-fill"></i>Marcações
              </h2>
                          
              <div class="p-3 mb-2 bg-dark text-white container-fluid">
                <table class="table bg-dark text-white">
                    <thead>
                      <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Data</th>
                        <th scope="col">Hora</th>
                        <th scope="col">Tipo</th>
                        <th scope="col">Localização</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let lancamento of lancamentos">
                        <th scope="row" >{{lancamento.id}}</th>
                        <td>{{lancamento.data | data | date:'dd/MM/yyyy'}}</td>
                        <td>{{lancamento.data | hora}}</td>
                        <td>{{lancamento.tipo | tipo}}</td>
                        <td>
                            <a [href]="urlLocalizacao(lancamento.localizacao)" target="_blank">
                                {{lancamento.localizacao}}
                            </a>
                        </td>
                      </tr>
                    </tbody>
                </table>
                </div>
                <p>Data e hora: {{ dataHoraAtual }}
                  <button type="button" class="btn btn-outline-primary btn-sm" (click)="atualizarDataHora()">
                    <i class="bi bi-arrow-clockwise"></i>
                  </button>
                </p>
                <p>
                  Data e hora tempo real: {{ dataTempoReal }}
                </p>

                <p>
                  <button type="button" class="btn btn-outline-success btn-sm"(click)="downloadCSV()" 
                  data-toggle="tooltip" title="CSV">
                    <i class="bi-file-earmark-excel"></i>
                  </button>
                  &nbsp;
                  <button type="button" class="btn btn-outline-danger btn-sm" (click)="downloadPDF()" 
                  data-toggle="tooltip" title="PDF">
                    <i class="bi bi-file-earmark-pdf"></i>
                  </button>
                </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
